/*
    Document   : MainStyle.css
*/

.root{
    -fx-inactive-tile: #0e6f96;
    -fx-active-tile: #7130b0;
    -fx-launch-button: #097a09;
    -fx-font-size: 11pt;
    -fx-font-family: "Droid Serif";
    -fx-base: rgb(255, 255, 255);
    -fx-background: rgb(203, 230, 239);
}

.button{
    -fx-text-fill: rgb(18, 63, 72);
    -fx-border-color: rgb(33, 49, 90);
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-padding: 10;
    -fx-alignment: center;
}

#title {
    -fx-font-size: 24pt;
    -fx-font-weight: bold;
}

#reactionPaneGreen{
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-min-width: 1150;
    -fx-min-height: 800;
    -fx-max-width: 1150;
    -fx-max-height: 800;
    -fx-background-color: linear-gradient(#22ac00, #0f3c00);
}

#reactionPaneRed{
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-min-width: 1150;
    -fx-min-height: 800;
    -fx-max-width: 1150;
    -fx-max-height: 800;
    -fx-background-color: linear-gradient(#ac0000, #3c0000);
}

#bluePane{
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-min-width: 1150;
    -fx-min-height: 800;
    -fx-max-width: 1150;
    -fx-max-height: 800;
    -fx-background-color: linear-gradient(#007bac, #00243c);
}

#gameTitle {
    -fx-font-size: 40pt;
    -fx-padding: 20;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,1) , 4, 0.1 , 0 , 1 );
}

#paneButton {
    -fx-pref-width: 300;
    -fx-pref-height: 100;
    -fx-alignment: center;
    -fx-background-color:
            linear-gradient(derive(-fx-launch-button, 100%), derive(-fx-launch-button, 0%)),
            linear-gradient(derive(-fx-launch-button, 50%), derive(-fx-launch-button, -30%));
    -fx-background-insets: 1,2;
}

#paneButton:pressed {
    -fx-background-color:
            linear-gradient(derive(-fx-launch-button, 100%), derive(-fx-launch-button, 0%)),
            linear-gradient(derive(-fx-launch-button, 0%), derive(-fx-launch-button, 80%));
}

#aimPane{
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-min-width: 1150;
    -fx-min-height: 800;
    -fx-max-width: 1150;
    -fx-max-height: 800;
    -fx-background-color: linear-gradient(#45b0dd, #005c94);
}

#tileGamePane{
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-spacing: 30;
    -fx-min-width: 1150;
    -fx-min-height: 800;
    -fx-max-width: 1150;
    -fx-max-height: 800;
    -fx-background-color: linear-gradient(#45b0dd, #005c94);
}

#chimpTileLabel {
    -fx-text-fill: #002f48;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 5;
    -fx-font-size: 40pt;
}

#chimpTileBlank {
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-min-width: 120;
    -fx-min-height: 120;
    -fx-max-width: 120;
    -fx-max-height: 120;
    -fx-background-color: none;
    -fx-border-color: none;
}

#chimpTileInit {
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-min-width: 120;
    -fx-min-height: 120;
    -fx-max-width: 120;
    -fx-max-height: 120;
    -fx-border-color: #002f48;
    -fx-background-color: none;
    -fx-border-radius: 15;
    -fx-border-width: 10
}

#chimpTileClicked {
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-min-width: 120;
    -fx-min-height: 120;
    -fx-max-width: 120;
    -fx-max-height: 120;
    -fx-background-color: #002f48;
    -fx-background-insets: 5;
    -fx-border-color: #002f48;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-width: 10
}

#tileGameGrid {
    -fx-alignment: center;
    -fx-vgap: 20;
    -fx-hgap: 20;
}

#visualHiddenTile {
    -fx-background-color: #002f48;
    -fx-background-radius: 15;
    -fx-border-color: none;
}

#visualWrongTile {
    -fx-background-color: #001721;
    -fx-background-radius: 15;
    -fx-border-color: none;
}

#visualActiveTileRevealed {
    -fx-background-color: #c4e8ff;
    -fx-background-radius: 15;
    -fx-border-color: none;
}

#typingTextArea {
    -fx-min-width: 500;
    -fx-max-width: 500;
    -fx-min-height: 500;
    -fx-max-height: 500;
}

#numberGameTextField {
    -fx-alignment: center;
    -fx-min-width: 500;
    -fx-max-width: 500;
    -fx-min-height: 50;
    -fx-max-height: 50;
}

#verbalButtonBox {
    -fx-alignment: center;
    -fx-spacing: 20;
}

#gameTitle {
    -fx-font-size: 40pt;
    -fx-padding: 20;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,1) , 4, 0.1 , 0 , 1 );
}

#gameDescription {
    -fx-font-size: 20pt;
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,1) , 4, 0.1 , 0 , 1 );
}

#numberGameTextFail {
    -fx-font-size: 40pt;
    -fx-padding: 20;
    -fx-text-fill: #c81313;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,1) , 4, 0.1 , 0 , 1 );
}

#timerText {
    -fx-font-size: 15pt;
    -fx-text-alignment: center;
    -fx-text-fill: gray;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,1) , 4, 0.1 , 0 , 1 );
}

#windowPane{
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-min-width: 1150;
    -fx-min-height: 800;
    -fx-max-width: 1150;
    -fx-max-height: 800;
}

#gameTiles {
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-hgap: 12;
    -fx-vgap: 12;
    -fx-min-width: 800;
    -fx-min-height: 470;
    -fx-max-width: 800;
    -fx-max-height: 470;
}

#gameTile {
    -fx-alignment: center;
    -fx-min-width: 150;
    -fx-min-height: 150;
    -fx-pref-width: 150;
    -fx-pref-height: 150;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-color:
            linear-gradient(derive(-fx-inactive-tile, 100%), derive(-fx-inactive-tile, 0%)),
            linear-gradient(derive(-fx-inactive-tile, 50%), derive(-fx-inactive-tile, -30%));
    -fx-background-insets: 1,3;
    -fx-font-size: 12px;
}

#gameTileContent {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 1, 0.0 , 0 , 1 );
    -fx-alignment: center;
    -fx-padding: 5;
    -fx-font-size: 9pt;
}

#gameTile:hover {
    -fx-background-color:
            linear-gradient(derive(-fx-inactive-tile, 100%), derive(-fx-inactive-tile, 0%)),
            linear-gradient(derive(-fx-inactive-tile, -30%), derive(-fx-inactive-tile, 50%));
    -fx-background-insets: 1,2;
    -fx-effect: dropshadow( two-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
}

#gameTile:focused {
    -fx-background-color:
            linear-gradient(derive(-fx-active-tile, 100%), derive(-fx-active-tile, 0%)),
            linear-gradient(derive(-fx-active-tile, -30%), derive(-fx-active-tile, 50%));
    -fx-background-insets: 1,2;
    -fx-effect: none;
}

#gameTile:selected {
    -fx-background-color:
            linear-gradient(derive(-fx-active-tile, 100%), derive(-fx-active-tile, 0%)),
            linear-gradient(derive(-fx-active-tile, -30%), derive(-fx-active-tile, 50%));
    -fx-background-insets: 1,2;
    -fx-effect: none;
}

#previewPane {
    -fx-padding: 0 8 0 8;
    -fx-alignment: top-center;
    -fx-min-width: 330;
    -fx-min-height: 470;
    -fx-max-width: 330;
    -fx-max-height: 470;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color:
            linear-gradient(derive(-fx-inactive-tile, 50%), derive(-fx-inactive-tile, 0%)),
            derive(-fx-inactive-tile, -30%),
            linear-gradient(#e8eeef, #c1cdd0);
    -fx-background-insets: 1,2,3;
    -fx-border-color: #21315A;
}

#previewPaneTitle {
    -fx-alignment: center;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-padding: 10;
}

#previewPaneContent {
    -fx-alignment: top-center;
    -fx-padding: 10;
    -fx-min-height: 340;
}

#previewPaneButton {
    -fx-pref-width: 225;
    -fx-alignment: center;
    -fx-background-color:
            linear-gradient(derive(-fx-launch-button, 100%), derive(-fx-launch-button, 0%)),
            linear-gradient(derive(-fx-launch-button, 50%), derive(-fx-launch-button, -30%));
    -fx-background-insets: 1,2;
}

#previewPaneButton:hover {
    -fx-background-color:
            linear-gradient(derive(-fx-launch-button, 100%), derive(-fx-launch-button, 0%)),
            linear-gradient(derive(-fx-launch-button, 80%), derive(-fx-launch-button, 0%));
}

#previewPaneButton:focused {
    -fx-background-color:
            linear-gradient(derive(-fx-launch-button, 100%), derive(-fx-launch-button, 0%)),
            linear-gradient(derive(-fx-launch-button, 0%), derive(-fx-launch-button, 80%));
}